*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --primary-color: #A259FF;
    --white-color: #FFF;
    --gray-color: #2B2B2B;
    --light-gray-color: #3B3B3B;
    --price: #858584;
    --text-footer: #CCCCCC;
    /*Cách Dùng var(--primary-color) */

    /* FONTS */
    /* Link từ google */
    --primary-font: "Work Sans", sans-serif;
    --secondary-font: "Space Mono", monospace;

}

body {
    font-family: var(--primary-font);
    background-color: var(--gray-color);
    color: var(--white-color);
    font-family: 400;
    line-height: 1.4;
}

ul,
ol {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}

input {
    color: var(--gray-color);
    border: 0;
    outline: none;
    
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    /* object-fit giữ ảnh ko méo */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

hr {
    border: 1px solid var(--price);
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
    padding: 0 30px;
}

.header {
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 244px;
}

.menu-list {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu-link {
    display: inline-block;
    padding: 12px 20px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* BUTTONS */
.btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 17px 48px;
    border-radius: 20px;
    font-weight: 600;
    /* background-color: var(--primary-color); */
    border: 2px solid transparent;
    font-size: 16px;
    line-height: 1.375;
}

.btn.btn-primary {
    background-color: var(--primary-color);
}

.btn.btn-outline {
    border-color: #A259FF;
}

.btn.btn-small {
    padding: 17px 28px;
}

.btn.btn-while {
    background-color: var(--white-color);
    color: var(--gray-color);
}

/* SECTION HEADING */
.section-heading {
    margin-bottom: 60px;
}

.section-heading .section-title+.section-subtitle {
    margin-top: 10px;
}

.section-title {
    font-size: 38px;
    line-height: 1.2;
}

.section-subtitle {
    font-size: 22px;
    line-height: 1.6;
}

/* SECTIONS */
.section {
    padding: 80px 0;
}

/* SECTION BANNER */
.banner {
    display: flex;
    gap: 30px;
}

.banner-content,
.banner-media {
    flex: 1;
}

.section-banner .section-title,
.section-banner .section-title+.section-subtitle {
    text-transform: capitalize;
}


.section-banner .section-title {
    font-size: 67px;
    line-height: 1.1;
}

.section-banner .section-title+.section-subtitle {
    margin-top: 20px;
}

.banner-button {
    display: inline-block;
    transform-origin: center;
    transition: transform 0.3s ease;
    margin-top: 40px;
}

.banner-button:hover {
    transform: scale(0.95);
}

.statis-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.statis-item {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.statis-label {
    font-size: 24px;
    line-height: 1.6;
}

.statis-total {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 28px;
}

/* BANNER-MEDIA */
.banner-media-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 0 0 20px 20px;
}

.banner-media-content.raw {
    background-color: var(--light-gray-color);
    padding: 20px;
    height: 109px;
}

.media-title {
    font-size: 22px;
    line-height: 1.4;
    height: 31px;
}

.media-context {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
}

.trending-list {
    display: flex;
    gap: 30px;
}

.trending-item {
    flex: 1;
}

.trending-thumnail-list {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.trending-thumbnail-item{
    overflow: hidden;
    border-radius: 20px;
    /* width: calc((100% - 30px) / 3); */
    flex: 1;
}

.trending-image > img,
.trending-thumbnail-item > img{
    width: 100%;
}

.trending-card .banner-media-content {
    margin-top: 15px;
}

.treding-additional {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.6;
}



.section-heading {
    position: relative;
}

.creator-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.creator-list {
    /* display: flex;
    flex-wrap: wrap;
    margin-left: -30px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 60px;

}

.creator-item {
    /* width: calc((100% - 120px) / 4);
    margin-left: 30px; */
}

.creator-item:nth-child(n + 5) {
    margin-top: 30px;
}

.creator-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #3b3b3b;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.creator-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.creator-sales {
    display: flex;
    gap: 5px;
}

.total {
    color: var(--price);
}

.creator-card {
    position: relative;
}

.noti {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color);
    width: 30px;
    height: 30px;
    color: var(--price);
    border-radius: 20px;
    top: 18px;
    left: 20px;
}


.browse-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; */
}

.browse-item{   
    /* width: calc((100% - 90px) / 4); */
    /* flex: 1; */
    width: calc((100% - 90px) / 4);
}

.browse-title {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 76px;
    font-size: 22px;
    line-height: 1.4;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 0 0 20px 20px;
    background-color: var(--light-gray-color);
    font-family: var(--primary-font);
}


.discover-list {
    display: flex;
    gap: 30px;
}

.discover-context {
    background-color: var(--light-gray-color);
    border-radius: 0 0 20px 20px;
}

.discover-context {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 30px;
}

.banner-media-content.discover {
    padding: 0;
}

.discover-sales {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.sale-title {
    font-family: var(--secondary-font);
    color: var(--price);
    font-size: 12px;
}

.sale-title.sale-title-right {
    text-align: right;
}

.work-list {
    display: flex;
    gap: 30px;
}

.work-card {
    background-color: var(--light-gray-color);
    height: 439px;
    border-radius: 20px;
    padding: 10px 30px 30px;
    align-items: center;
    justify-items: center;
}

.work-image {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.work-content {
    width: 270px;
}

.section-highlight{
    position: relative;
    /* background-image: url(./images/Tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background: url(./images/Tablet.png) center/cover no-repeat;
    height: 640px;
}

.section-highlight::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
}
.highlight-wrapper{
    position: relative;
    display: flex;
    height: 100%;
    align-items: flex-end;
    padding-bottom: 60px;
}

.highlight-inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.highlight-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.highlight-content .media-context{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--light-gray-color);
}

.highlight-content .section-title{
    font-size: 51px;
    line-height: 1.1;
    margin-top: 30px;
}

.highlight-content .btn-while{
    padding: 22px 50px;
    margin-top: 30px;
}

.highlight-timer{
    padding: 30px;
    border-radius: 20px;
    background: #3B3B3B80;
    backdrop-filter: blur(10px)
}

.timer-laber{
    font-size: 12px;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.timer-box{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.timer-box > span{
    font-size: 28px;
    align-items: center;
}
.timer-item{
    display: flex;
    flex-direction: column;
}

.timer-value{
    font-size: 38px;
    line-height: 1.2;
    font-family: var(--secondary-font);
}

.timer-init{
    font-size: 12px;
    line-height: 1.1;
    font-family: var(--secondary-font);
}

.work-content {
    text-align: center;
}

.work-title {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.send {
    background-color: var(--light-gray-color);
    border-radius: 20px;
    display: flex;
    gap: 80px;
    padding: 60px;
}


.send-content {
    display: flex;
    flex-direction: column;
    width: 425px;
    gap: 40px;
    text-transform: capitalize;
}

.input-box{
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.input-box input{
    padding: 20px;
}

..input-box input::placeholder{
    font-size: 16px;
    color: var(--gray-color);
}
.footer {
    background-color: var(--light-gray-color);
}

.footer-primary {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;

}

.head-footer {
    display: flex;
    gap: 31px;
    justify-content: space-between;
}



.footer-text {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--text-footer);

}

.footer-text-primary {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nft-footer {
    max-width: 244px;
}

.nft-image {
    margin-bottom: 30px;
}

.footer-icon {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.explore-title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.digest-text {
    width: 330px;
    margin-bottom: 20px;
}

.last-footer {
    font-size: 12px;
    color: var(--text-footer);
    margin-top: 20px;
}


/* Media Queries */

@media screen and (min-width: 1080px) {
    .btn-menu {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .section{
        padding: 40px 0;
    }
    .logo{
        max-width: 182px;
    }
    .section-title {
        font-size: 28px;
        line-height: 1.4;
    }

    .section-subtitle {
        font-size: 16px;
    }

    .header {
        padding: 15px 50px;
    }

    .header-nav {
        /* display: none; */
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        z-index: 20;
        width: 250px;
        padding: 30px;
        height: 100vh;
        transform: translateX(100%);
        transition: transform .2s ease-in;
        background-color: var(--light-gray-color);
    }

    .header-nav.is-open {
        transform: translateX(0%);
    }

    .menu-list {
        flex-direction: column;
    }

    .creator-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .creator-item:nth-child(n + 1) {
        margin-top: 0;
    }

    .creator-card {
        flex-direction: row;
        justify-content: left;
    }

    .creator-info {
        align-items: normal;
        text-align: left;
    }

    .creator-image {
        width: 60px;
        height: 60px;
    }

    .noti {
        top: 13px;
        left: 12px;
    }

    .trending-list {
        flex-wrap: wrap;
    }
    .trending-item{
        flex: initial;
        width: calc((100% - 30px) / 2);
    }
    .browse-item{
        margin-bottom: 76px;
    }
    .browse-image{
        max-width: 150px;
        height: 142px;
    }
    .browse-title{
        font-size: 16px;
        height: 67px;
    }
}


@media screen and (max-width: 768px) {
    .header{
        padding: 15px 30px;
    }
    .section.section-creator {
        position: relative;
        padding-bottom: 140px;
    }

    .section-heading {
        position: static;
    }

    .creator-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        /* left theo cha */
        transform: translate(-50%);
        /* transform theo chính bản thân nó */
        width: calc(100% - 60px);
    }

    .creator-list {
        display: block;
    }

    .creator-item+.creator-item {
        margin-top: 20px;
    }

    .trending-item{
        width: 100%;
    }
    .browse-list{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .browse-item{
        width: calc((100% - 30px) / 2);
    }
}